* {
  box-sizing: border-box;
}

:root {
  --primary: #44e9ff;
  --secondary: #497980;
  --tertiary: #000;
  --grey: #333;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: medium;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #ededed;
  padding: 30px 25px;
}

header nav {
  color: var(--tertiary);
  margin: 5px 0 20px;
  font-size: 2rem;
  
}

header div span {
  font-size: 2.0rem;

}

p,
li {
  font-size: 1.6rem;
}

.score-time {
  display: flex;
  justify-content: space-between;
  margin: 5px 35px;
}

.score {
  padding: 5px;
  color: var(--tertiary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.time {
  padding: 5px;
  color: var(--tertiary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* test */
.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
/* questions answers options */
.answer-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.options-container {
  margin: 15px 10px; 
  align-items: center;
  list-style-type: none;
}
.option-text {
  padding: 25px;
  background: rgb(162, 255, 162);
  border-radius: 14px;
  font-size: 1.2rem;
}
.hidden {
  display: none;
}
.correct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  width: 100%;
  height: 40px;
}
/* Question Area */
.question {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--tertiary);
  font-size: 40px;
  text-align: center;
  width: 650px;
}
.question {
  cursor: pointer;
}
/* Start button area */
.startbtn {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 25 px;
  text-decoration: none;
  width: 10rem;
  background: var(--primary);
  border-radius: 6px;  
}
.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start span {
  justify-content: space-around;
  margin-bottom: 30px;

}
.start {
  cursor: pointer;
}

footer {
  width: 100%;
  background: var(#fff);
  color: var(--tertiary);
  font-size: 2.4rem;
  padding: 20px;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}

footer h2 {
  justify-content: center;
  display: flex;

}

.footer-header {
  justify-content: center;
  font-size: small;
}

.page-title {
  color: var(--primary);
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 4.5rem;
}

.page-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

.start{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--primary);
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
}

